.FirstEllips{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: left;
    z-index: -100;
}

.SecondEllips{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: right;
    z-index: -100;
}

.ThirdEllips{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: right;
    z-index: -100;
}

.header{
    background-color: #FFFFFF;
    height: 95px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
 
li,ul,body{
    list-style-type: none;
    margin:0;
    padding:0;
}
    
a{
    text-decoration: none;
    color: inherit;
}
a:after {
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    background-color: #000000;
    transition: width 0.4s ease-in-out;
}

a:hover:after, a:focus:after {
    width: 100%;
}

a:hover{
    color:#000000;
} 
.LogoPhoto{
    width: 100px;
    padding-left: 80px;
    padding-top: 5px;
}

.header__top{
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

.menu__list{
    display: flex;
    flex-direction: row;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 25px;
    line-height: 39px;
    color: rgba(0, 0, 0, 0.5);
    padding-top: 30px;
    margin-right: 50px;
}
    
.List{
    padding-left: 65px;
    padding-right: 65px;
}

.Users{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.GhostPanel{
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}


.form{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.LidsPanels{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
}

.Lid{
    box-sizing: border-box;
    width: 300px;
    height: 150px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.textStyle{
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 25px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
}


.ButtonStyle{
    width: 140px;
    height: 40px;
    background: #8638B5;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: 'Inter';
    font-style: italic;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

button:hover{
    background: rgba(0,0,0,0);
    color: #8638B5;
    box-shadow: inset 0 0 0 3px #8638B5;
}

.ButtonAdd{
    padding-top: 15px;
    padding-left: 20px;
}

